<div class="form-container">
    <form class="form" [formGroup]="formGroup">
        <mat-form-field class="full-width">
            <mat-label>Product Name</mat-label>
            <input matInput formControlName="name">
            @if (nameFormControl?.invalid && nameFormControl?.touched) {
            <mat-error>Name is required.</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Sales</mat-label>
            <input matInput formControlName="sales">
            @if (salesFormControl?.hasError('required') && salesFormControl?.touched) {
            <mat-error>Sales is required.</mat-error>
            }
            @if (salesFormControl?.hasError('pattern') && salesFormControl?.touched) {
            <mat-error>Sales must be numeric.</mat-error>
            }
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Region</mat-label>
            <input matInput formControlName="region">
            @if (regionFormControl?.invalid && regionFormControl?.touched) {
            <mat-error>Region is required.</mat-error>
            }
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button type="reset" [disabled]="formGroup.invalid" (click)="onSubmit()">
                Add new product
            </button>
        </div>
    </form>
</div>